/*Colour Palette
----------------
#0D3B66 - midnight blue
#343434 - gray
#F4d35E - bored yellow
#854D27 - grizzly bear brown
#FBF5F3 - white smoke
#412234 - burgundy
#eff9f0 - honedew
#bfd7ea - pale aqua
 
*/

/*Global styles
------------------*/
html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}




body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	text-align: justify;
	background: #343434;
	color: #FBF5F3
}
h1, h2{
	font-family: 'Lato', sans-serif;
	font-weight: 400;

}

h1{
	font-size: 40px;
	font-weight: 700;
	color: #CCA43B;
}
h2{
	font-size: 25px;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 20px;
	color:#CCA43B;
}




h3{
	margin: 0;
	color: #FBF5F3;
	text-align: left;

}

a{
	

}

a:hover{
	text-decoration: underline;
}


.content_wrap{
	max-width: 950px;
	margin: 0 auto;
	padding: 60px, 50px;
	overflow: auto;
}

.col-narrow{
	width: 40%;
	float: left;
	/*border: 1px solid black;*/
	min-height: 175px;
}


.col-wide{
	width: 60%;
	float: left;
	padding-left: 20px;
	min-height: 175px;
	margin-bottom: 20px;
}




.download{
	position: absolute;
	bottom: 0;
	right: o;

}





/*Header and Footer
---------------------*/
header,footer{
	background: #343434;
	color: #FBF5F3;
}

/*header*/
header{
padding-top: 50px;
}



header h1, header h2{
	color: #CCA43B;
	margin: 0;
	margin-top: 10px;
}
.profile-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}


/* Navigation*/
nav{
	text-align: center;
	background: #FBF5F3;
	position: fixed;
	top: 0;
	width: 100;
	left: 0;
	right: 0;
}

nav a{
	display: inline-block;
	padding: 15px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	color: #412234;
}

nav p{
	display: inline-block;
	text-align: left;
	text-decoration: none;
	font-weight: 700;
	color: #4f000b;
	text-transform: uppercase;

	
}



/*footer*/
footer{
	text-align: left;
}

.contact-info  a {
padding: 10px;
display: inline-block;
}


.foothead{
	font-size: 20px;
	font-weight: 700;
	color: #FBF5F3; 
	margin-top: 10px;
	margin-bottom: 10px;

}

.cpr{
	font-size: 15px;
	color: #FBF5F3;

}

footer a{
	display: inline-block;
	padding: 5px 5px;
	text-decoration: none;
	font-weight: 400;
	color: #FBF5F3;
	text-align: left;
}

footer a:hover{
	text-decoration: underline;
}





/*Work Experience & Education
--------------------*/


.affil{
	font-weight: 500;
	color: #242038;
	font-size: 17px;
	margin-bottom: 10px;
}

.dates{
	font-weight: 300;
	font-size: 15px;
	color: #242038;
}

h3 ~ p{
	margin 0;
}



.project{
	margin-top: 3px;
	color: #242038;
	font-weight: 500;
	background:#eff9f0;
	
}

.project:nth-of-type(odd){
	background:#eff9f0;
}
.project:nth-of-type(even){
	background:#bfd7ea;
}


.project h3{
	margin-top: 10px;
	color: #412234;
}

.subHeader h2{
	font-size: 25px;
	margin-top: 10px;
	font-weight: 700;
	margin-bottom: 10px;
}

.btn{
	text-decoration: none;
	background: #854D27;
	padding: 10px;
	display: inline-block;
	float: right;
	margin-bottom: 10px;
	color: #FBF5F3;

}

.btn a{
	color: #FBF5F3;
	text-decoration: none;
}
.btn a:hover{
	
	text-decoration: underline;
	color: #FBF5F3;
}





